* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
    font-size: 25px;
}

.main-header {
    background-color: #255ee9;
    padding: 10px 0;
}

.navbar {
    margin: 0px auto;
    max-width: 1450px;
}


.navbar-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.container {
    max-width: 900px;
    margin: 0 auto;
}

.logo-footer {
    padding: 5px 15px 5px;
}

.main-menu {
    display: flex;
    gap: 50px;
}

.section {
    padding: 150px 0;
}

/* 1° Section */

.bg-blue {
    background-image: url("/img/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0%;
}

.col-80 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    padding: 60px;
    gap: 10px;
    color: rgb(243, 243, 243);
}

/* 2° Section */

.bg-white {
    background-color: #ffffff;
    padding: 35px;
}

.col-img1 {
    width: 55%;
    padding: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("/img/item1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0%;
    border-radius: 25px;
    border: 2px
}


.col-infodiscord {
    width: 40%;
    justify-content: center;
    align-items: center;
}

/* 3° section */

.col-img2 {
    width: 55%;
    padding: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("/img/item2.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0%;
    border-radius: 25px;
    border: 2px
}

/* 4° section */


.col-img3 {
    width: 70%;
    padding: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("/img/item3.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0%;
    border-radius: 25px;
    border: 2px
}


/* 5° section */

.col-img4 {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    margin-top: 20px;
}

.text-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* bckground stelle mac */

.star {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./img/stars.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.star-title {
    padding: 0 20px;
    padding-top: 30px;
}


.text-img {
    margin: 20px;
}

.button {
    background-color: rgb(38, 0, 252);
    color: rgb(255, 255, 255);
    margin: 25px;
}


/* Ultima sezione */



.bg-gray {
    background-color: #d3d3d3;
    padding: 35px;
}


.bg-black {
    background-color: #23272a;
    padding: 35px;
}


.row {
    display: flex;
    justify-content: center;
    align-items: center;
}



[class^="button"] {
    border-radius: 25px;
    padding: 10px;
    border: 2px
}

/* Tutte scritte dentro A bianche */

.main-menu a {
    color: rgb(255, 255, 255);
}

/* Distanza bottoni header */

.button-row {
    display: flex;
    ;
    gap: 20px;
}

.button-discord {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}


.col-40 {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    margin-right: 50px;
}

.col-15 {
    width: 100%;
    color: white;
}

.flag-italian {
    width: 20px;
    height: auto;
    margin-right: 10px;
}


.social {
    width: 150px;
    height: auto;
}

h4,
.text-footer {
    color: #7289db;
}

li,
.flag-container {
    padding: 10px 0;
}

.row-section {
    display: flex;
    justify-content: center;
}

/* Footer */

.footer {
    background-color: #23272a;
    padding: 20px 0px;
}

.row-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
