* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
    font-size: 25px;
}

.main-header {
    background-color: #255ee9;
    padding: 10px 0;
}

.navbar {
    margin: 0px auto;
    max-width: 1450px;
}


.navbar-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.logo {

}

.logo-footer {
    padding: 5px 15px 5px;

}

.main-menu {
    display: flex;
    gap: 50px;
 
}

.section {
    padding: 150px 0;
}

/* 1째 Section */

.bg-blue {
    background-image:url("/img/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0%;
}

.col-80 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    padding: 60px;
    gap: 10px;
    color: rgb(243, 243, 243);
}

/* 2째 Section */

.bg-white {
    background-color: #ffffff;
    padding: 35px;
}

.col-img1 {
    width: 55%;
    padding: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image:url("/img/item1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0%;
    border-radius: 25px;
    border: 2px
}


.col-infodiscord {
    width: 40%;
    justify-content: center;
    align-items: center;
}

/* 3째 section */

.col-img2 {
    width: 55%;
    padding: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image:url("/img/item2.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0%;
    border-radius: 25px;
    border: 2px
}

/* 4째 section */


.col-img3 {
    width: 70%;
    padding: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image:url("/img/item3.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0%;
    border-radius: 25px;
    border: 2px
}




.col-40 {
    background-color: #f08080;
    width: 40%;
    padding: 200px 150px ;
}



.bg-gray {
    background-color: #d3d3d3;
    padding: 35px;
}


.bg-black {
    background-color: #030303;
    padding: 35px; 
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.footer {
    border-bottom: 1px solid rgba(255,255,255,.25);
    background-color: rgb(0, 0, 0);
    padding: 20px 0px;
}

.footer-container {
    margin: 0px auto;
    max-width: 835px;
    background-color: #61bb9d;
    padding: 15px 0px;
}

.row-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}


.col-100 {
    background-color: #228b22;
    width: 100%;
    padding: 250px;
}



[class^="button"] {
    border-radius: 25px;
    padding: 10px;
    border: 2px
}

.main-menu a {
    color: rgb(243, 243, 243);
}

.button-row {
    display: flex;; 
    gap: 20px; 
}

.button-discord {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}



.col-30 {
    background-color: #ffc0cb;
    width: 40%;
    padding: 140px;
}


.col-15 {
    background-color: #20b2aa;
    padding: 200px 60px; 
}

